<%- include('../layouts/header.ejs')%>


<h1>hello</h1>
    
         <div class="otp bg-light">
          <div class="d-flex justify-content-center">
            <!-- <h1 class="mt-3"><span style="color: red;">T</span>IME<span class="Timehead">X</span></h1> -->
          </div>
          <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="bg-light border border-dark  rounded-3 border-3 " style="height: 70vh; width: 70vh;">
              <div class="d-flex flex-column justify-content-center align-items-center mt-5" style="height: 50vh;">
                <h4>VERIFICATION CODE</h4>
                <p>Please enter the verification code sent to Email</p>
                <form action="/forgotOtp" method="post">
                  <div class="form-outline flex-fill mt-3">
                    <input name="otp" type="number" id="form3Example5cd" class="form-control" placeholder="Enter your OTP" />
                  </div>
                  <div class="d-flex flex-column mt-2">
                    <a id="btnCounter" href="/resendotp" class="btn btn-link text-decoration-none text-danger disabled">Resend OTP </a>
                    <p class="text-secondary text-center">00:<span id="count"></span></p>
                    <% if(status=="true"){ %>
                     <p id="ban" class="text-danger text-center">Incorrect OTP</p>
                    <% } %>
                    <button class="mt-2 btn btn-dark" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 
        <%- include('../layouts/footer.ejs')%>