<%- include('../layouts/header.ejs')%>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="card text-center  mx-auto" style="width: 800px;">
<% 
    if(typeof message !== 'undefined'){
    %>
    <h4><%= message %></h4>
    <%
    }
    %>

    <form action="/forget" method="post">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" name="email" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Email input</label>
        </div>
        <input type="submit" class="btn btn-primary w-100" value="Reset password">
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="#">Login</a>
           
        </div>
    </div>
</form>

</div>
</div>
<%- include('../layouts/footer.ejs')%>